<a {{action 'set_language' 'en'}} class="bubble language" href="">English</a>
<a {{action 'set_language' 'es'}} class="bubble language" href="">Espanol</a>
<a {{action 'set_language' 'fr'}} class="bubble language" href="">Francaise</a>