<section class="card map">
  <h1> {{t "map_header"}} </h1>

  <section class="categories">
    {{#each categories as |category| }}
      <button>{{category.icon}} {{t category.tag}}</button>
    {{/each}}
  </section>

  <iframe src="https://www.google.com/maps/d/embed?mid=zLxBmgs3Es0I.kOIvw74Mhrcc&hl=en_US" width="100%" height="500"></iframe>
</section>  