<section class="card map animated fadeInUp">
  <h1> {{t "map_header"}} </h1>

  <section class="categories">
    {{#each categories as |category| }}
      <button>{{category.icon}} {{t category.tag}}</button>
    {{/each}}
  </section>


  {{#mapbox-map mapId='ember-cli-mapbox.7c3914f2' as |map| }}
    {{#each datapoints as |point|}}
      {{mapbox-marker map=map coordinates=(mapbox-coords point.latitude point.longitude) recenter=true}}
    {{/each}}
  {{/mapbox-map}}


</section>