<footer>
  <nav> 
    {{#if i18n.isSet}}
      {{#each i18n.locales as |l| }}
        <a {{action 'set_language' l}} class="language" href="">{{get i18n.names l }}</a>
      {{/each}}
    {{/if }}
  </nav>
  <div class="brand">
    <img src="http://innovatenb.org/wp-content/uploads/2015/09/linkedinlogo1.png"> <h2>New Brunswick Office of Innovation</h2>
  </div>
</footer>