<section class="card news animated fadeInUp">
  <h2>{{t "news_header"}}</h2>

  <section class="articles">
  {{#each articles as |article index|}}
    <article>
      {{#link-to 'news.article' index}} {{!-- target="_blank" --}}
        <h2>{{ article.title }}</h2>
        <p>{{{ article.contentSnippet }}}</p>
      {{/link-to}}
    </article>
  {{/each}}
  </section>
  
</section>