@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,700,800);
@import 'animate';

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  border: 0px;
  font-family: 'Open Sans', sans-serif;

}

html, body {
  font-size: 16px;
  background-color: #F9F9FE;
}

body > .ember-view {
  float: left;
  width: 100%;
  height: 100%;
  padding-bottom: 80px;
}

.scaffolding {
  max-width: 960px;
  width: 100%;
  margin: 10px auto;
}

.scaffolding.small {
  max-width: 560px;
}

footer {
  .brand {
    float: right;

    h2 {
      float: right;
    }
  }

  img {
    width: 40px;
    float: left;
    height: auto;
    margin-right: 10px;
  }

  h2 {
    font-weight: 600;
    font-size: 16px;
    line-height: 35px;

    text-align: left;
    color: #555;
  }

  nav {
    float: left;
  }

  background-color: #FFF;
  box-shadow: 0 -1px 1px 0 #EBEDF2;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 20px;
  color: #333;
}

@mixin bubble( $diameter ) {
  width: $diameter;
  height: $diameter;
  border-radius: $diameter / 2;
  display: inline-block;
  text-align: center;
  line-height: $diameter;
  box-shadow: 0px 1px 2px 0 #8D8D8E;
  text-decoration: none;
  color: #FFF;
  font-size: $diameter * 0.15;
  margin: 10px;
  text-shadow: 0px 1px 2px #000;
}

#index {
  text-align: center;
  padding-top: 50px;
}

.card {
  background-color: #FFF;
  box-shadow: 0 1px 1px 0 #EBEDF2;
  padding: 20px;
  margin-bottom : 20px;
  overflow: hidden;

  h1 {
    font-size: 2em;
    color: #3A3E3E;
    font-weight: 400;
  }

  h2 {
    font-size: 1.7em;
    color: #5D5D5D;
    font-weight: 400;
  }

  &.news {
    > h2 {
      text-align: left;
    }

    .articles {
      max-height: 366px;
      overflow-y: scroll;
      border-top: 1px solid #DDD;
      margin-top: 20px;
    }

    article {
      border-left: 3px solid #888;
      float: left;
      width: 100%;
      padding: 5px;
      margin-top: 4px;
      background: #FEFEFE;

      h2 {
        text-align: left;
        font-weight: 500;
        font-size: 17px;
        margin-bottom: 4px;
      }

      a {
        color: #333;
        text-decoration: none;
      }

      p {
        float: left;
        font-weight: 200;
        color: #3A3E3E;
        font-size: 14px;
      }

      img {
        width: 100px;
        height: 100px;
        object-fit: contain;
        display: block;
        float: left
      }
    }
  }

  &.browse {
    h2 {
      margin-bottom: 15px;
    }

    a.start {
      width: 100%;
      max-width: 400px;
      text-align: center;
      text-decoration: none;
      border-radius: 2px;
      height: 64px;
      display: block;
      font-size: 1.9em;
      margin: 20px auto;
      line-height: 64px;
      color: #fff;
      font-weight: 400;
      background-color: #22C3FF;
      box-shadow: inset 0 1px #3dcaff, 0px 5px #0A96CC, 0 3px 5px rgba(0, 0, 0, 0.3);
      transition: background-color .25s;

      &:active {
        box-shadow: none;
        position: relative;
        top: 5px;
      }

      &:hover {
        background-color: #069FF5;
      }
    }
  }

  &.map {
    #map {
      width: 500px;
      height: 400px;
      background-color: #CCC;
    }

    button {
      padding: 10px;
      letter-spacing: 1px;
      font-size: 20px;

      min-width: 110px;
      margin: 0px 5px;
    }

    .categories {
      padding: 15px 0px 25px 0px;
      width: 100%;
      text-align: center;
    }
  }

  &.language {
    h1 {
      margin-bottom: 20px;
    }
  }
}

button, .button {
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #00EF73;
  box-shadow: inset 0 1px #70F98F, 0px 5px #0BB149, 0 3px 5px rgba(0, 0, 0, 0.3);
  transition: background-color .25s;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.47);
  cursor: pointer;

  &:active {
    box-shadow: none;
    position: relative;
    top: 5px;
  }

  &:hover {
    background-color: #10CA69;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.6);
  }
}

.bubble {
  @include bubble(150px);

  &.language:nth-of-type(1) {
    background-color: #4E5BF9;
  }

  &.language:nth-of-type(2) {
    background-color: #FF5A5A;
  }

  &.language:nth-of-type(3) {
    background: url(https://cdn1.iconfinder.com/data/icons/european-country-flags/83/france-512.png);
    background-size: 150px;
  }
}