<section class="splash" {{action 'interact' event='keyDown'}}>
  <div class="left">
    <h1>Bienvenido</h1>
    <h1>Welcome</h1>
    <h1>Bienvenue </h1>
  </div>

  <div class="bottom">
    <h2>{{fa-icon "hand-pointer-o" }}</h2>

    <h2>Toca para comenzar</h2>
    <h2>Touch to begin</h2>
    <h2>Touchez pour commencer</h2>

    <h2>{{fa-icon "hand-pointer-o" }}</h2>
  </div>
</section>